.skeleton {
  background: linear-gradient(90deg, #eee 25%, #f5f5f5 50%, #eee 75%);
  /* 가로를 의도적으로 더 크게해서 왼쪽에서 오른쪽으로 움직이는 효과를 낸다*/
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s infinite;
  border-radius: 8px;
  /* 
    크기 보다 더큰 값을 가고 있지만 기본 설정이 repeat이라 괜찮다
    만약 테스트 해보고 싶다면 아래의 주석을 풀면된다
  */
  background-repeat: no-repeat;
}

@keyframes skeleton-loading {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}