.card {
    /* display inline-block이 아니더라도 flex-wrap을 적용하면 줄바꿈이 됨*/
    display: inline-block;
    /* 이거 없어도 동작은 하는데 나중에 글자 삐져나왔을때 막으려고 추가함*/
    width: 200px;
}

.img {
    width: 200px;
    height: 300px;
    /*
        값          설명
        cover       영역 꽉 채움 (잘림 발생 가능) -> 작은쪽 기준으로 맞추고 큰쪽은 잘림
        contain     비율 유지, 잘림 없음 (여백 생김)
        fill        강제 맞춤 (왜곡 발생)
        none        원본 크기 그대로
        scale-down	원본 or contain 중 작은 쪽 선택
    */
    object-fit: contain;
    /* 여백 색상 */
    background-color: #000;
}

.title {
    font-weight: bold;
}

.voteCount {
    color: grey;
}