@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}